.c-gallery {
    // height: 100vh;
    color: black;
    position: relative;
    .owl-thumbs {
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
        width: fit-content;
        display: flex;
        max-width: 100%;
        overflow-x: scroll;
        @include mq($until: 1200px) {
            position: relative;
        }
    }
    .owl-thumb-item {
        -webkit-appearance: none;
        border: 0;
        padding: 10px;
        background-color: rgba(0,0,0,0.8);
        img {
            height: 130px;
            width: auto;
            @include mq($until: 1200px) {
                height: 10vh;
            }
        }
    }
    .owl-nav {
        position: absolute;
        bottom: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .owl-next {
        margin-right: 30px !important;
        @include mq($until: 800px) {
            margin-right: 10px !important;
        }
        text-align: center;
        i {
            display: inline-block;
            color: $black;
            background-color: $white;
            padding: 20px;
            border-radius: 50%;
            @include fluid-type(13px, 36px);
            @include mq($until: 800px) {
                padding: 10px;
            }
            &:hover {
                color: $white;
                background-color: $red;
            }
        }
        &:hover {
            background-color: transparent !important;
        }
    }
    .owl-prev {
        margin-left: 30px !important;
        @include mq($until: 800px) {
            margin-left: 10px !important;
        }
        text-align: center;
        i {
            color: $black;
            background-color: $white;
            padding: 20px;
            border-radius: 50%;
            @include fluid-type(13px, 36px);
            @include mq($until: 800px) {
                padding: 10px;
            }
            &:hover {
                color: $white;
                background-color: $red;
            }
        }
        &:hover {
            background-color: transparent !important;
        }
    }
    .owl-item img {
        max-height: 100vh;
        min-height: 50vh;
        object-fit: cover;
        height: auto;
    }
    .owl-dots {
        position: absolute;
        right: 50px;
        bottom: 50px;;
        width: fit-content;
        @include mq($until: 1800px) {
            display: none;
        }
        .active {
            span {
                background-color: $red !important;
            }
        }
        span {
            background-color: $white !important;
        }
    }
    &__sidebar {
        background-color: $black;
        height: 100%;
        position: relative;
    }
    &__logo-wrapper {
        width: 100%;
        text-align: center;
        padding-top: 50px;
        img {
            max-width: 100%;
            padding: 5px;
        }
        @include mq($until: 992px) {
            display: none;
        }
    }
    &__go-top-icon {
        margin-top: 25vh;
        width: 100%;
        color: $white;
        text-align: center;
        i {
            @include fluid-type(20px, 32px);
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 50%;
            color: $white;
            border: 2px solid $red;
        }
        div {
            @include fluid-type(12px, 16px);
            text-align: left;
            transform: rotate(270deg);
        }
        @include mq($until: 992px) {
            display: none;
        }
    }
    &__copyright {
        padding: 15px;
        @include fluid-type(12px, 16px);
        color: $white;
        bottom: 0;
        position: absolute;
        a {
            @include fluid-type(12px, 16px);
            margin-top: 10px;
            color: $red;
            display: block;
        }
        @include mq($until: 992px) {
            position: relative;
            padding: 20px;
            text-align: center;
        }
    }
}