.c-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/bg.png');
    min-height: 100vh;
    &--padding {
        padding: 20px;
        height: 100%;
    }
    &__wrapper {
        border: 2px dashed white;
        min-height: calc( 100vh - 44px );
        padding-top: 50px;
        border-radius: 20px;
    }
    &__float-icon {
        @include mq($until: 1200px){
            display: none;
        }
    }
    &__logo-wrapper {
        @include mq($until: 800px) {
            margin-bottom: 40px;
            text-align: center;
        }
        img {
            max-width: 100%;
        }
    }
    &__text-wrapper {
        position: relative;
        &::before {
            position: absolute;
            right: 105%;
            top: 50px;
            background-image: url('../images/road.png');
            content: '';
            width: 200px;
            height: 400px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top center;
            @include mq($until: 1800px) {
                display: none;
            }
        }
    }
    &__title {
        font-family: $headers;
        @include fluid-type(40px, 100px);
        color: $white;
        font-weight: bold;
        &--small {
            @include fluid-type(40px, 80px);
        }
        @include mq($until: 800px){
            text-align: center;
        }
    }
    &__paragraph {
        @include fluid-type(18px, 27px);
        &--small {
            @include fluid-type(13px, 20px);
            margin-top: 30px;
            margin-bottom: 40px;
        }
        &--bottom {
            @include fluid-type(15px, 23px);
        }
    }
    &__open-hours {
        margin-top: 30px;
        display: flex;
        align-items: center;
        @include fluid-type(14px, 22px);
        background-color: $black;
        i {
            @include fluid-type(24px, 36px);
            padding: 8px;
            display: inline-block;
        }
        span {
            white-space: nowrap;
        }
    }
    &__banner {
        text-align: center;
        font-family: $headers;
        overflow: visible;
        background-image: url('../images/baner-bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10px 20px;
        clear: both;

        &-inner {
            padding: 4px;
            @include fluid-type(20px, 32px);
            background-color: $red;
        }
    }
    &__btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            transition: transform linear 500ms;
        }
        &:hover {
            i {
                transform: rotate(180deg);
            }
        }
    }
    &__gallery-btn {
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 2px 8px;
        display: flex;
        align-items: center;
        font-family: $headers;
        background-color: $black;
        border: 1px solid $white;
        color: $white;
        @include fluid-type(20px, 48px);
        i {
            @include fluid-type(12px, 22px);
            padding: 4px;
            display: inline-block;
        }
    }
    &__contact-wrapper {
        background-image: url('../images/contact-bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px 40px;
        padding-top: 80px;
        max-width: 100%;
        @include mq($until: 1800px){
            width: fit-content;
            margin: 0 auto;
        }
        @include mq($until: 650px){
            padding: 10px 20px;
            margin-top: 20px;
        }
    }
    &__contact-inner {
        background-color: black;
        padding: 20px;
    }
    &__contact-title {
        @include fluid-type(14px, 24px);
        line-height: 0.6;
        color: $red;
        text-align: center;
    }
    &__contact-tel {
        @include mq($until: 650px) {
            margin-top: 15px;
            text-align: center;
            display: block;
        }
        @include fluid-type(20px, 55px);
        i {
            display: inline-block;
            @include fluid-type(25px, 60px);
            color: $red;
            min-width: 90px;
            max-height: 60px;
            @include mq($until: 650px) {
                display: block;
                text-align: center;
            }
        }
    }
    &__contact-mail {
        display: flex;
        align-items: center;
        @include fluid-type(16px, 24px);
        @include mq($until: 650px) {
            text-align: center;
            display: block;
        }
        i {
            display: inline-block;
            @include fluid-type(25px, 60px);
            color: $red;
            min-width: 90px;
            max-height: 60px;
            @include mq($until: 650px) {
                display: block;
                text-align: center;
            }
        }
        a {
            text-decoration: underline;
        }
    }
}