.c-icon {
    //settings
    $icon-color: #fff;
    $text-color: #fff;
    $bg-color: #3b5998;
    $border-color: #3b5998;

    &__wrapper {
        position: relative;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 2px $border-color inset;
        width: fit-content;
        padding: 20px;
        margin: 0 auto;
        &:hover {
            animation-name: pulse;
            animation-iteration-count: infinite;
            animation-duration: 0.6s;
            .c-icon__text {
                bottom: -90%;
                max-width: 1000px;
            }
        }
    }
    &__icon {
        font-size: 40px;
        border-radius: 50%;
        background-color: $bg-color;
        padding: 25px;
        color: $icon-color;
        position: relative;
        text-align: center;
        line-height: 100%;
        width: fit-content;
        z-index: 5;
    }
    &__text {
        position: absolute;
        left: calc( 50% );
        transform: rotate(270deg);
        transform-origin: left;
        bottom: 12px;
        max-width: 0px;
        overflow-x: hidden;
        transition:  bottom ease-in 500ms, max-width ease-in 1000ms, bottom ease-in 500ms,;
        span {
            display: block;
            z-index: 4;
            padding: 15px;
            padding-bottom: 20px;
            padding-right: 10px;
            padding-left: 20px;
            line-height: 100%;
            content: 'facebook';
            font-size: 20px;
            color: $text-color;
            background-color: $bg-color;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
        &:hover &::before {
            max-width: 1000px;
        }
    }
}

@keyframes pulse {
        0%   {box-shadow: 0px 0px 0px 0px #3b5998 inset;}
        50%  {box-shadow: 0px 0px 0px 2px #3b5998 inset;}
        100% {box-shadow: 0px 0px 0px 0px #3b5998 inset;}
}