//fonts
$headers: 'Amatic SC', cursive;
$main: 'Merriweather', serif;

//colors
$red: #ff0030;
$black: #000;
$white: #fff;

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
    font-family: $main;
    color: $white;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}