@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8lo12k');
    src:  url('../fonts/icomoon.eot?8lo12k#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?8lo12k') format('truetype'),
      url('../fonts/icomoon.woff?8lo12k') format('woff'),
      url('../fonts/icomoon.svg?8lo12k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bookmark-star:before {
    content: "\e900";
  }
  .icon-left-arrow:before {
    content: "\e903";
  }
  .icon-mail:before {
    content: "\e904";
  }
  .icon-photo-camera:before {
    content: "\e905";
  }
  .icon-right-arrow:before {
    content: "\e906";
  }
  .icon-telephone:before {
    content: "\e907";
  }
  .icon-up-arrow:before {
    content: "\e908";
  }
  .icon-wall-clock:before {
    content: "\e909";
  }
  .icon-zoom:before {
    content: "\e90a";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  